.containerSlide {
    width: 650px;
    margin: auto;
    padding-top: 200px;
}

.containerSlide img {
    height: 850px;
    
    

}
.containerSlide {
    margin-top: -11%;
    /* margin-top : 20px; */
    width: 1700px;
}